<template>
  <div id="app" v-bind:style="currentStyleObject" v-on:click.ctrl="darkTheme = !darkTheme; applyStyleToHtml()">
    <a :href="homeLink">
      <img v-if="darkTheme" src="./assets/logo_dark.jpg"/>
      <img v-if="!darkTheme" src="./assets/logo_light.jpg"/>
    </a>
    <h1>Varázsműhely</h1>
    <details>
      <summary>HELYI mentések</summary>
      <p><ul><li>Varázslatok</li><li>Karakterek</li></ul></p>
      <p><ul>
        <li>
          <p v-for="(spell, idx) in savedSpells" v-bind:key="('spellz' + idx)">
            {{spell.name}}
            <button v-on:click="loadSpell(savedSpells[idx].code)">Betöltés</button>
            <button v-on:click="savedSpells.splice(idx, 1)">Törlés</button>
          </p>
          <p>
            <button v-on:click="(savedSpells.push({name: spellSaveName, code: JSON.parse(JSON.stringify(spellData))}) && (spellSaveName = ''))">Jelenlegi mentése</button>
            <input v-model="spellSaveName" />
          </p>
        </li>
        <li>
          <p v-for="(char, idx) in savedChars" v-bind:key="('charz' + idx)">
            {{char.name}}
            <button v-on:click="loadChar(savedChars[idx].code)">Betöltés</button>
            <button v-on:click="savedChars.splice(idx, 1)">Törlés</button>
          </p>
          <p>
            <button v-on:click="(savedChars.push({name: charSaveName, code: JSON.parse(JSON.stringify(charData))}) && (charSaveName = ''))">Jelenlegi mentése</button>
            <input v-model="charSaveName" />
          </p>
        </li>
      </ul></p>
    </details>
    <p>
      Mágiatípus:
      <select v-model="selectedMagicType">
        <option v-for="magicType in availableMagicTypes" v-bind:value="magicType" v-bind:key="'magicTypeSelection' + magicType">{{magicType}}</option>
      </select>
    </p>
    <p>
      {{selectedMagicType}} fok:
      <select v-model="magicUseLevels[selectedMagicType]">
        <option>Nf</option>
        <option>If</option>
        <option>Af</option>
        <option>Kf</option>
        <option>Mf</option>
        <option>Lf</option>
      </select>
      Manavezetés:
      <select v-model="manaChanneling">
        <option :value="0">X</option>
        <option :value="1">I</option>
        <option :value="2">II</option>
        <option :value="3">III</option>
      </select>
      Mágikus affinitás:
      <select v-model="magicAffinity">
        <option :value="0">X</option>
        <option :value="1">I</option>
        <option :value="2">II</option>
        <option :value="3">III</option>
      </select>
      <template v-if="selectedMagicType === 'Szakrális mágia'"">
      Isten:
      <select v-model="selectedGod">
        <option disabled :value="''">Válassz istent!</option>
        <option v-for="god in availableGods" :value="god" v-bind:key="'istenválasztó' + god">{{god}}</option>
      </select>
      </template>
    </p>
    <p>
      <template v-for="attribute in relevantAttributes" >
      {{attribute}}:
        <select v-model="dominantAttributes[attribute]" v-bind:key="'tulajdonságÉrtékek' + attribute">
          <option v-for="i in 20" :value="i+3" v-bind:key="'tulajdonságÉrtékek' + attribute + i">{{i+3}}</option>
        </select>
      </template>
    </p>
    <p>
      <ul>
        <li v-if="selectedMagicType !== 'Magas Mágia'">
          <label for="manaLimit">Mana korlát:</label>
          <input type="number" id="manaLimit" name="manaLimit" v-model.number="manaLimit" min="0" step="1">
        </li>
        <li v-for="(category, index) in Object.keys(attributes[selectedMagicType])" v-bind:key="'mágiaforma beállító' + category">
          {{category}}:
          <select v-model="selectedLevels[category]">
            <option v-for="fok in availableFoks" :value="fok" :disabled="fokVal(magicUseLevel) < fokVal(fok)" v-bind:key="'mágiaforma beállító' + category + fok">{{fok}}</option>
          </select>
        </li>
      </ul>
    </p>
    <template v-if="selectedMagicType !== 'Magas Mágia'">
      <ul>
      <li v-if="selectedMagicType == 'Szakrális mágia'">
        <input type="checkbox" id="isLitany" v-model="listLitanies"/>
          <label for="isLitany">Litániák</label>
        </li>
        <li v-if="selectedMagicType == 'Szakrális mágia'">
          <input type="checkbox" id="isRitual" v-model="listRituals"/>
          <label for="isRitual">Rituálék</label>
        </li>
      </ul>
      <div>
        <button v-on:click="printSpellList" style="font-weight: bold">Varázslista (pdf/nyomtatás)</button>
      </div>
      <p>
        Varázslat:
        <select v-model="selectedSpellIndex">
          <option disabled value="-1">Válassz varázslatot!</option>
          <optgroup v-for="group of availableSpellsGroups" :label="group.label">
            <option v-for="option of group.options" :value="option.value">{{ option.text }}</option>
          </optgroup>
        </select>
      </p>
      <template v-if="selectedSpellIndex in availableSpells">
      <!-- <p v-if="selectedSpellIndex in availableSpells"> -->
        <center>
          <table :class="currentTableClass">
            <tr :class="currentTableClass">
              <th :class="currentTableClass" v-for='pillar in pillars' v-bind:key="'tapmágia aspektusok' + pillar">
                {{pillar}}
              </th>
            </tr>
            <tr v-if="true" :class="currentTableClass" v-for="i in tallestPillar" v-bind:key="'aspektus sorok' + i">
              <th :class="currentTableClass" v-for="pillar in pillars" v-bind:key="'aspektus oszlopok' + pillar + i">
                <template v-if="i - 1 < spellAspects[pillar].length">
                  <!-- Asp: -->
                  <select v-model="modifiedAspects[spellAspects[pillar][i - 1][1]][1]" :disabled="availableAspectValues[spellAspects[pillar][i - 1][1]].length === 1">
                    <option v-for="aspLvl in 12" :value="aspLvl" v-bind:key="'aspektus értékek' + pillar + i + aspLvl"
                      :disabled="!availableAspectValues[spellAspects[pillar][i - 1][1]].includes(aspLvl)">
                        {{ (aspLvl === availableSpells[selectedSpellIndex].aspects[spellAspects[pillar][i - 1][1]][1] &&
                          availableSpells[selectedSpellIndex].aspects[spellAspects[pillar][i - 1][1]][1] !== spellAspects[pillar][i - 1][0][1]) ? "*" : "" }}
                        {{ aspLvl }}
                        {{ aspectDescriptions[pillar][aspLvl - 1] }}
                      </option>
                  </select>
                  <span v-if="spellAspects[pillar][i - 1][0][2] !== 0">
                    Mód: {{ spellAspects[pillar][i - 1][0][2] }}
                  </span>
                  <span v-if="spellAspects[pillar][i - 1][0][3] !== 0">
                    Komp: {{ spellAspects[pillar][i - 1][0][3] }}
                  </span>
                </template>
              </th>
            </tr>
          </table>
          <button v-on:click="modifiedAspects = JSON.parse(JSON.stringify(availableSpells[selectedSpellIndex].aspects))">Visszaállítás</button>
        </center>
        <i>{{availableSpells[selectedSpellIndex].description}}</i><br/>
        Ellenállás: {{availableSpells[selectedSpellIndex].resist}}<br/><br/>
        Mana költség: {{manaCost(modifiedAspects, availableSpells[selectedSpellIndex].ritual)}}<br/>
        Varázslási idő: {{castTime(modifiedAspects, availableSpells[selectedSpellIndex].ritual)}}<br/>
        <template v-if="canModifySpells">
        Varázspróba cél: {{castingDifficulty(modifiedAspects)}}<br/>
        </template>
        Próba alap: {{minDifficultyClass[0]}} ({{minDifficultyClass[1]}})<br/>
        <input type="checkbox" id="cheatmode" v-model="godmode"/>
        <label for="cheatmode">ISTEN MÓD</label>
      <!-- </p> -->
      </template>
    </template>
    <template v-else>
      <ul>
        <li>
          Típus:
          <select v-model="highMagic.selected">
            <option v-for="type in Object.keys(attributes['Magas Mágia'])" :value="type" :disabled="'Nf' == selectedLevels[type]" v-bind:key="'magas mágikus varázslat típusa' + type">{{type}}</option>
          </select>
        </li>
        <li v-for="limit in Object.keys(highMagic.limits)" v-bind:key="'módosítók' + limit">
          <input type="checkbox" :id="limit" v-model="highMagic.limits[limit]"
            :disabled="'Kontrollált' == limit && highMagic.limits.Irányított || 'Irányított' == limit && highMagic.limits.Kontrollált"/>
          <label :for="limit">{{limit}}</label>
        </li>
      </ul>
      <center>
      <table :class="currentTableClass">
        <tr :class="currentTableClass">
          <th :class="currentTableClass" v-for='aspect in Object.keys(highMagic.pillars)' v-bind:key="'magasmágus aspektusok' + aspect">
            {{aspect}}
          </th>
        </tr>
        <tr :class="currentTableClass" v-for="i in tallestPillar + 1" v-bind:key="'aspektus sorok' + i">
          <th :class="currentTableClass" v-for="aspect in Object.keys(highMagic.pillars)" v-bind:key="'aspektus oszlopok' + aspect + i">
            <template v-if="i - 1 < highMagic.pillars[aspect].length">
              Asp:
              <select v-model="highMagic.pillars[aspect][i-1][0]">
                <option v-for="aspLvl in 12" :value="aspLvl" v-bind:key="'aspektus értékek' + aspect + i + aspLvl">{{aspLvl}} {{'[' + aspectDescriptions[aspect][aspLvl-1] + ']'}}</option>
              </select>
              Komp: 
              <select v-model="highMagic.pillars[aspect][i-1][1]">
                <option v-for="compLvl in maxComponentAvailable + 1" :value="compLvl - 1" v-bind:key="'aspektus komponensek' + aspect + compLvl ">{{compLvl - 1}}</option>
              </select>
              <button v-if="0 < i - 1" v-on:click="highMagic.pillars[aspect].splice(i - 1, 1)">X</button>
              <br/>
            </template>
            <template v-else>
            <button v-if="i-1 == highMagic.pillars[aspect].length" v-on:click="highMagic.pillars[aspect].push([1, 0])">++</button><br/>
            </template>
          </th>
        </tr>
      </table>
      </center>
      Mana költség: {{manaCost(highMagicInCommonFormat, highMagic.limits.Jelmágikus)}}<br/>
      Varázslási idő: {{castTime(highMagicInCommonFormat, highMagic.limits.Jelmágikus)}}<br/>
      Varázspróba cél: {{castingDifficulty(highMagicInCommonFormat)}}<br/>
      Próba alap: {{minDifficultyClass[0]}} ({{minDifficultyClass[1]}})<br/>
    </template>
    <p v-if="tooHighAspects.length !== 0">
      <span style="color:red">{{ `${tooHighAspects.map(aspect => aspect[0]).join(', ')} aspektus${tooHighAspects.length > 1 ? 'ok' : ''} értéke módosítókkal túl magas` }}</span>
    </p>
    <p>
      <input type="checkbox" id="detailedMechanism" v-model="detailedMechanism"/>
      <label for="detailedMechanism">Részletezett Mechanizmus</label>
    </p>
    <p>
      LINK
      <ul>
        <li><a :href="currentCharacterLink">A KARAKTERRE</a></li>
        <li><a :href="currentSpellLink">A VARÁZSLATRA</a></li>
        <li><a :href="currentStateLink">MINDKETTŐRE</a></li>
      </ul>
    </p>
    <p>
      <a :href="`https://bitbucket.org/shinarit/varazsmuhely/commits/${commitHash}`">Publikus repó</a>
    </p>
  </div>
</template>


<script>
import spellCompendium from './spellCompendium'
import { GenerateHtml } from './html-generation'

function fokVal(fok) {
  switch(fok) {
    case 'Nf': return 0;
    case 'If': return 1;
    case 'Af': return 2;
    case 'Kf': return 3;
    case 'Mf': return 4;
    case 'Lf': return 5;
    default: return "mi a fasz";
  }
}

function valFok(val) {
  switch(val) {
    case 0: return 'Nf';
    case 1: return 'If';
    case 2: return 'Af';
    case 3: return 'Kf';
    case 4: return 'Mf';
    case 5: return 'Lf';
    default: return "mi a fasz";
  }
}

function roundTo(value, decimals) {
  return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
}

function castTimeConverter(coefficient, channeling, jel) {
  if (!jel) {
    coefficient -= channeling;
  }

  const multiplier = jel ? 3 : 1;
  if (coefficient <= 0) {
    return [Math.round(multiplier), " CS", coefficient];
  }

  switch (Math.floor((coefficient - 1) / 10)) {
    case 0: return [Math.round(coefficient * multiplier), ' CS', coefficient];
    case 1: return [roundTo((coefficient - 10) * multiplier, 2), ' perc', coefficient];
    case 2: return [roundTo((coefficient - 20) * multiplier, 2), ' óra', coefficient];
    default: return [roundTo((coefficient - 30) * multiplier, 2), ' nap', coefficient];
  }
}

function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}

function clampedAspectValue(aspect) {
  return Math.min(13, Math.max(1, rawAspectValue(aspect)))
}

function rawAspectValue(aspect) {
  return aspect[1] + aspect[2] + aspect[3]
}

export default {
  name: 'Varázsműhely',
  watch: {
    darkTheme: function() {
      this.$ls.set('theme', this.darkTheme)
    },
    savedSpells: function() {
      this.$ls.set('spells', this.savedSpells)
    },
    savedChars: function() {
      this.$ls.set('chars', this.savedChars)
    },
    selectedSpellIndex: function() {
      if (!this.loadingSpell) {
        this.modifiedAspects = [];
        if (this.selectedSpellIndex in this.availableSpells) {
            this.modifiedAspects = JSON.parse(JSON.stringify(this.availableSpells[this.selectedSpellIndex].aspects))
        }
      }
    },
    selectedMagicType: function() {
      this.selectedSpellIndex = -1;
    },
    selectedLevels: function() {
      if (!this.selectedSpellIndex in this.availableSpells) {
        this.selectedSpellIndex = -1;
      }
    },
    magicUseLevel: function() {
      if (!this.loadingSpell) {
        if (-1 !== this.selectedSpellIndex) {
            this.modifiedAspects = JSON.parse(JSON.stringify(this.availableSpells[this.selectedSpellIndex].aspects))
        }
        Object.entries(this.magicUseLevels).forEach(([magicType, limit]) => {
          Object.keys(this.attributes[magicType]).forEach(category => {
            if (this.fokVal(this.selectedLevels[category]) > this.fokVal(limit)) {
              this.$set(this.selectedLevels, category, limit);
            }
          }, this)
        }, this)

        // Object.keys(this.selectedLevels).forEach(function(category) {
        //   if (this.fokVal(this.selectedLevels[category]) > this.fokVal(this.magicUseLevel)) this.$set(this.selectedLevels, category, this.magicUseLevel);
        // }, this);
      }
    },
  },
  data () {
    return {
      commitHash: process.env.VUE_APP_GIT_HASH,
      //active data
      savedSpells: [],
      savedChars: [],
      spellSaveName: "",
      charSaveName: "",
      selectedMagicType: "Magas Mágia",
      selectedLevels: {},
      selectedSpellIndex: -1,
      selectedGod: '',
      modifiedAspects: [],
      magicUseLevels: {},
      manaChanneling: 0,
      magicAffinity: 0,
      godmode: false,
      detailedMechanism: false,
      listLitanies: true,
      listRituals: true,
      highMagic: {
        limits: {
          Leplezett: false,
          Fenntartott: false,
          Kontrollált: false,
          Irányított: false,
          Jelmágikus: false,
          Ismétlődő: false,
        },
        pillars: {
          Erősség: [[1, 0,],],
          Távolság: [[1, 0,],],
          Terület: [[1, 0,],],
          Időtartam: [[1, 0,],],
          Mechanizmus: [[1, 0,],],
        },
        selected: "Elemi Mágia",
      },
      manaLimit: 0,
      
      darkTheme: true,
      loadingSpell: false,

      dominantAttributes: {
      },
      availableFoks: ['Nf', 'If', 'Af', 'Kf', 'Mf', 'Lf',],
      spells: spellCompendium.spells,
      attributes: spellCompendium.attributes,
      aspectDescriptionsData: spellCompendium.aspectDescriptions,
    }
  },
  computed: {
    tooHighAspects() {
      if (this.selectedMagicType === 'Magas Mágia') {
        return this.highMagicInCommonFormat.filter(aspect => rawAspectValue(aspect) > 13)
      } else {
        if (this.selectedSpellIndex !== -1) {
          return this.modifiedAspects.filter(aspect => rawAspectValue(aspect) > 13)
        }
      }
      return []
    },
    pillars() {
      return ["Erősség", "Távolság", "Terület", "Időtartam", "Mechanizmus",]
    },
    spellAspects() {
      const result = {}
      const indexedAspects = this.modifiedAspects.map((aspect, idx) => [aspect, idx])
      if (this.selectedSpellIndex !== -1) {
        this.pillars.forEach(pillar => {
          result[pillar] = indexedAspects.filter(([aspect, idx]) => aspect[0] === pillar)
        })
      }
      return result
    },
    modified() {
      return JSON.stringify(this.modifiedAspects) === JSON.stringify(this.availableSpells[this.selectedSpellIndex].aspects)
    },
    magicUseLevel() {
      return this.magicUseLevels[this.selectedMagicType]
    },
    aspectDescriptions() {
      return {
        ...this.aspectDescriptionsData,
        Mechanizmus: this.detailedMechanism
          ? this.aspectDescriptionsData.Mechanizmus[this.selectedMagicType === "Magas Mágia" ? this.highMagic.selected : "default"]
          : ['', '', '', '', '', '', '', '', '', '', '', '',],
      }
    },
    canModifySpells() {
      return this.selectedMagicType !== 'Szakrális mágia';
    },
    availableGods() {
      return this.spells.filter((spell) => spell.god).map((spell) => spell.god).sort().filter(onlyUnique);
    },
    availableMagicTypes() {
      return Object.keys(this.attributes);
    },
    availableSpellsGroups() {
      let result = []
      let categories = {}
      for (const [idx, spell] of this.availableSpells.entries()) {
        if (!(spell.magicSubclass in categories)) {
          categories[spell.magicSubclass] = []
        }
        categories[spell.magicSubclass].push({spell, idx})
      }
      for (const category in categories) {
        categories[category].sort((lhs, rhs) => fokVal(lhs.spell.fok) - fokVal(rhs.spell.fok))
        result.push({
            label: category,
            options: categories[category].map((spellDesc) => ({
              value: spellDesc.idx,
              text: spellDesc.spell.name,
            })),
          })
      }
      return result
    },
    allAvailableSpells() {
      return this.spells.filter((spell) => {
        return true &&
          fokVal(spell.fok) <= fokVal(this.selectedLevels[spell.magicSubclass]) &&
          (!spell.god ||
            spell.god === 'Általános' ||
            spell.god === this.selectedGod) &&
          (
            spell.magicSubclass !== 'Szakrális mágia' ||
            !spell.ritual && this.listLitanies ||
            spell.ritual && this.listRituals
          ) &&
          (this.manaLimit === 0 || this.manaCost(spell.aspects, spell.ritual) <= this.manaLimit)
      })
    },
    availableSpells() {
      return this.allAvailableSpells.filter(spell => spell.magicType === this.selectedMagicType)
    },
    relevantAttributes() {
      return Object.entries(this.attributes[this.selectedMagicType]).filter(category => 'Nf' != this.selectedLevels[category[0]]).reduce((attributes, category) => attributes.concat(category[1]), []).filter(onlyUnique).sort();
    },
    availableAspectValues() {
      const allAvailable = () => Object.keys(Array(12).fill(0)).map(val => Number(val) + 1)
      let result = Array(this.modifiedAspects.length)
      const magicUseFok = fokVal(this.magicUseLevel)
      const modifiedAspects = this.modifiedAspects
        .filter((aspect, idx) => aspect[1] !== this.availableSpells[this.selectedSpellIndex].aspects[idx][1])
        .map(aspect => aspect[0]).filter(onlyUnique).filter(name => name !== "Erősség")
      const erősségModifiable = magicUseFok >= 3
      const oneDelta = magicUseFok >= 4
      const allOptions = magicUseFok >= 5

      for (let i = 0; i < result.length; i++) {
        const base = this.availableSpells[this.selectedSpellIndex].aspects[i][1]
        result[i] = [base]
        if (this.godmode) {
          result[i] = [...allAvailable()]
        } else if ("Szakrális mágia" !== this.selectedMagicType) {
          if (this.modifiedAspects[i][0] === "Erősség") {
            if (erősségModifiable) {
              result[i] = [...allAvailable()]
            }
          } else if (this.modifiedAspects[i][0] !== "Mechanizmus") {
            if (modifiedAspects.length === 0 || modifiedAspects.includes(this.modifiedAspects[i][0])) {
              if (allOptions) {
                result[i] = [...allAvailable()]
              } else if (oneDelta) {
                if (base > 1) result[i].push(base - 1)
                if (base < 12) result[i].push(base + 1)
              }
            }
          }
        }
      }
      return result
    },
    relevantSkill() {
      return "Magas Mágia" === this.selectedMagicType ? this.highMagic.selected : this.availableSpells[this.selectedSpellIndex].magicSubclass;
    },
    minDifficultyClass() {
      const attributes = this.attributes[this.selectedMagicType][this.relevantSkill]
      const attribute = Math.max(...attributes.map(attrName => this.dominantAttributes[attrName]))
      const base = parseInt(attribute / 2) + 2 * this.fokVal(this.magicUseLevel)
      const DM = [this.magicAffinity, (attribute % 2)].filter(dm => dm !== 0).map(dm => `+${dm}`).join(', ')
      return [base, DM]
    },
    tallestPillar() {
      const toMeasure = "Magas Mágia" === this.selectedMagicType ? this.highMagic.pillars : this.spellAspects
      return Object.values(toMeasure).reduce((a, b) => a.length > b.length ? a : b).length;
    },
    maxComponentAvailable() {
      switch(this.magicUseLevel) {
        case 'Nf':
        case 'If':
        case 'Af': return 0;
        case 'Kf': return 1;
        case 'Mf': return 2;
        case 'Lf': return 3;
        default: "komponensfasz";
      }
    },
    highMagicInCommonFormat() {
      let result = [];
      const leplezettModifier = this.highMagic.limits.Leplezett ? 1 : 0
      const ismétlődőModifier = this.highMagic.limits.Ismétlődő ? 1 : 0
      for (const pillar of Object.keys(this.highMagic.pillars)) {
        const fenntartottModifier = this.highMagic.limits.Fenntartott && "Időtartam" == pillar ? -1 : 0
        const kontrolláltModifier = this.highMagic.limits.Kontrollált && "Mechanizmus" == pillar ? 1 : 0
        const irányítottModifier = this.highMagic.limits.Irányított && "Mechanizmus" == pillar ? -2 : 0
        for (const aspect of this.highMagic.pillars[pillar]) {
          let newPart = [pillar, aspect[0], leplezettModifier + fenntartottModifier + kontrolláltModifier + irányítottModifier + ismétlődőModifier, -aspect[1]]
          result.push(newPart);
        }
      }
      return result;
    },
    currentStyleObject() {
      if (this.darkTheme) {
        return {
          'background-color': 'black',
          color: 'white'
        };
      } else {
        return {
          'background-color': 'white',
          color: 'black'
        };
      }
    },
    currentTableClass() {
      if (this.darkTheme) {
        return "darkTable";
      } else {
        return "lightTable";
      }
    },
    charData() {
      return {
        selectedMagicType: this.selectedMagicType,
        selectedLevels: this.selectedLevels,
        selectedGod: this.selectedGod,
        magicUseLevels: this.magicUseLevels,
        manaChanneling: this.manaChanneling,
        magicAffinity: this.magicAffinity,
        dominantAttributes: this.dominantAttributes,
        darkTheme: this.darkTheme,
      }
    },
    charCode() {
      return btoa(unescape(encodeURIComponent(JSON.stringify(this.charData))));
    },
    spellData() {
      let spell = {
        magicType: this.selectedMagicType,
      };
      if ("Magas Mágia" == this.selectedMagicType) {
        spell.highMagic = this.highMagic;
      } else {
        spell.selectedSpellIndex = this.selectedSpellIndex;
        spell.modifiedAspects = this.modifiedAspects;
      }
      return spell
    },
    spellCode() {
      return btoa(unescape(encodeURIComponent(JSON.stringify(this.spellData))));
    },
    currentStateLink() {
      return location.origin + location.pathname + '?karakter=' + this.charCode + '&varazslat=' + this.spellCode;
    },
    currentCharacterLink() {
      return location.origin + location.pathname + '?karakter=' + this.charCode;
    },
    currentSpellLink() {
      return location.origin + location.pathname + '?varazslat=' + this.spellCode;
    },
    homeLink() {
      return location.origin;
    },
  },
  methods: {
    printSpellList() {
      const newTab = window.open();
      newTab.document.open();
      newTab.document.write(GenerateHtml(this.allAvailableSpells.map((spell) => {
        return {
          ...spell,
          mana: this.manaCost(spell.aspects, spell.ritual),
          time: this.castTime(spell.aspects, spell.ritual),
        }
      })));
      newTab.document.close();
    },
    castingDifficulty(aspects) {
      const highestAspect = aspects.reduce(function(a, b) {
        return a[1] + a[3] < b[1] + b[3] ? b : a;
      });
      return 10 + highestAspect[1] + highestAspect[3];
    },
    manaCost(aspects, jelmágikus) {
      const relevantAspects = aspects.map(aspect => parseInt(clampedAspectValue(aspect))).sort(function (x, y) {return y - x;}).slice(0, 5);
      const costTable = [0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78,];
      const result = relevantAspects.reduce((partial, a) => partial + costTable[a - 1], 0);
      if (jelmágikus) {
        return Math.floor(result * 2 / 3);
      }
      return result;
    },
    castTime(aspects, jelmágikus) {
      let aspectMaxes = {
        Erősség: 0,
        Távolság: 0,
        Terület: 0,
        Időtartam: 0,
        Mechanizmus: 0,
      };
      for (const idx in aspects) {
        const aspect = aspects[idx];
        const actVal = clampedAspectValue(aspect);
        if (actVal > aspectMaxes[aspect[0]]) {
          aspectMaxes[aspect[0]] = actVal;
        }
      }
      const costTable = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
      const coefficient = Object.values(aspectMaxes).reduce((partial, a) => partial + costTable[a - 1], 0)
      const calculatedTime = castTimeConverter(coefficient, this.manaChanneling, jelmágikus);
      return calculatedTime[0] + calculatedTime[1] + ' (' + calculatedTime[2] + ')';
    },
    fokVal(fok) {
      return fokVal(fok);
    },
    getParam(name) {
      if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search)) {
        return decodeURIComponent(name[1]);
      }
    },
    applyStyleToHtml() {
      document.querySelector('html').className = this.darkTheme ? 'darkTheme' : 'lightTheme';
    },
    loadSpell(spellInfo) {
      this.selectedMagicType = spellInfo.magicType;
      if ("Magas Mágia" == this.selectedMagicType) {
        this.highMagic = JSON.parse(JSON.stringify(spellInfo.highMagic))
      } else {
        this.selectedSpellIndex = spellInfo.selectedSpellIndex;
        this.modifiedAspects = JSON.parse(JSON.stringify(spellInfo.modifiedAspects))
        this.loadingSpell = true;
        this.$nextTick().then(() => {
          this.loadingSpell = false;
        });
      }
      this.closeSavePanel()
    },
    loadChar(charInfo) {
      this.selectedMagicType = charInfo.selectedMagicType;
      this.selectedLevels = {...charInfo.selectedLevels}
      this.selectedGod = this.availableGods.includes(charInfo.selectedGod) ? charInfo.selectedGod : ''
      this.magicUseLevels = {...charInfo.magicUseLevels}
      this.manaChanneling = charInfo.manaChanneling;
      this.magicAffinity = charInfo.magicAffinity;
      this.dominantAttributes = {...charInfo.dominantAttributes}
      this.darkTheme = charInfo.darkTheme;
      this.applyStyleToHtml();
      this.closeSavePanel()
    },
    closeSavePanel() {
      const details = document.querySelectorAll('details');
      details.forEach(deet=>{
        deet.open = false
      });
    },
    spellsRefresher() {
      this.savedSpells = this.$ls.get('spells', [])
    },
    charsRefresher() {
      this.savedSpells = this.$ls.get('spells', [])
    },
  },
  created: function() {
    this.darkTheme = this.$ls.get('theme', [])

    for (const kaszt of Object.keys(this.attributes)) {
      for (const forma of Object.keys(this.attributes[kaszt])) {
        for (const attribute of this.attributes[kaszt][forma]) {
          this.$set(this.dominantAttributes, attribute, 10);
        }
      }
    }

    for (const magicType of Object.keys(this.attributes)) {
      this.$set(this.magicUseLevels, magicType, 'Kf');
    }

    for (const category of Object.values(this.attributes).map(cls => Object.keys(cls)).flat()) {
      this.$set(this.selectedLevels, category, 'Nf');
    }

    this.savedSpells = this.$ls.get('spells', [])
    this.savedChars = this.$ls.get('chars', [])
    this.$ls.on('spells', this.spellsRefresher)
    this.$ls.on('chars', this.charsRefresher)

    const getParam = function(name) {
      if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search)) {
        return decodeURIComponent(name[1]);
      }
    };
    let charInfo = getParam("karakter");
    let spellInfo = getParam("varazslat");
    if (charInfo) {
      charInfo = JSON.parse(decodeURIComponent(escape(atob(charInfo))));
      this.loadChar(charInfo)
    }
    
    if (spellInfo) {
      spellInfo = JSON.parse(decodeURIComponent(escape(atob(spellInfo))));
      this.loadSpell(spellInfo)
    }
    
    this.applyStyleToHtml();
  },
}
</script>

<style>
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}
.darkTable {
  border: 1px solid white;
  border-collapse: collapse;
}
.lightTable {
  border: 1px solid black;
  border-collapse: collapse;
}
.darkTheme {
  background-color: black;
  color: white;
}
.lightTheme {
  background-color: white;
  color: black;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 0px;
  height: 100%;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
